/.DS_Store
/backend/.DS_Store
/backend/src/.DS_Store
/backend/src/main/.DS_Store
/backend/src/test/.DS_Store
/backend/src/test/java/.DS_Store
/backend/src/test/java/com/.DS_Store
/backend/src/test/java/com/db/.DS_Store
